@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #f8f9fa;
}

@custom-variant dark (&:where(.dark, .dark *));

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}
.animate-gradient-x {
  background-size: 200% auto;
  animation: gradient-x 3s ease infinite;
}
