@import "tailwindcss";

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Orkney;
    background-color: #F8F9FA;
}

.scroll-horizontal {
    display: flex;
    animation: scroll-horizontal 30s linear infinite;
    width: max-content;
}

.w-md-editor {
    background-color: white !important;
    color: black !important;
}

@keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient-bg {
    animation: gradientBG 8s ease-in-out infinite;
    background: linear-gradient(-45deg, #6b73ff, #4a00e0, #000dff, #00ffea, #6b73ff);
    background-size: 400% 400%;
  }
  