version: "3.8"

services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
      VITE_URL: ${VITE_URL}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_USERNAME: ${REDIS_USERNAME}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      SESSION_SECRET: ${SESSION_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      LINKEDIN_CLIENT_ID: ${LINKEDIN_CLIENT_ID}
      LINKEDIN_CLIENT_SECRET: ${LINKEDIN_CLIENT_SECRET}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    env_file:
      - ./server/.env

  client:
    build: ./client
    ports:
      - "3000:80"
    environment:
      VITE_API_URL: ${VITE_API_URL}
      VITE_CLOUDINARY_URL: ${VITE_CLOUDINARY_URL}
      VITE_UPLOAD_PRESET: ${VITE_UPLOAD_PRESET}
    env_file:
      - ./client/.env
